# Gradle files
.gradle/
build/

local.properties

*.log

.idea/
*.iml

/captures/
/output.json

*.apk
*.ap_
*.dex
*.class

*.keystore
*.jks

.idea/
*.iml
*.ipr
*.iws

.DS_Store

Thumbs.db

/build/
*/build/

crashlytics-build.properties

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# NDK
obj/

!gradle-wrapper.jar
.gradle/

**/node_modules/
**/yarn-error.log
**/yarn.lock

.vscode/

*.swp
*~
.idea/
*.temp
*.bak
*.orig
*.rej
*.sublime-workspace

/.idea
*.iml
*.iws
